@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

#root {}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
  font-family: 'Noto Sans', sans-serif;
}

.sidebar{
  background-color: rgb(0, 7, 61);
  height: 100vh;
  position: fixed;
}
  
.main_children {
  padding-left: 70px;
}


a{
  text-decoration: none;
}


@media (max-width: 1000px) {
  .sidebar {
    position: fixed;
  }

  .main_children{
    padding-left: 70px;
  }
}