@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap');

.followingPage{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
    padding-left: 0.5rem ;
    color: white;
    display: flex;
    gap: 5rem;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    font-family: 'Smooch Sans', sans-serif;
}


.followingPage h2{
    margin-left: 2rem;
    font-family: 'Kanit', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
}

.followingPage > .followingCardBox{
    width: 90%;
    margin-left: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
    justify-content: center;
}


@media (max-width: 1000px) {
    .followingPage > .followingCardBox{
        width: 85%;
        margin-left: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 2rem;
    }
    
}