@import url("https://fonts.googleapis.com/css2?family=Nova+Square&display=swap");

.createBlogPage {
  width: 100vw;
  height: 100vh;
  padding-left: 2rem;
  color: white;
  display: flex;
  gap: 5rem;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
}

.createBlogPage > h1 {
  font-family: "Nova Square", sans-serif;
  font-size: 3.5rem;
  font-weight: bold;
}

.createBlogPage > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.createBlogPage > form > input {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem 1.8rem;
  border: 2px solid #ed5ab3;
  border-radius: 10px;
  width: 80%;
  background-color: white;
  color: black;
  outline: none;
}

.createBlogPage > form > .imageBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80%;
  gap: 1rem;
}

.createBlogPage > form > .imageBox > input {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem 1.8rem;
  border: 2px solid #ed5ab3;
  border-radius: 10px;
  width: 50%;
  background-color: white;
  color: black;
  outline: none;
}

.createBlogPage > form > .imageBox > button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 1.2rem;
  font-size: 1.2rem;
  font-weight: bold;
  width: 30%;
  border-radius: 10px;
  border: 3px solid #d0f288;
  background-color: transparent;
  color: #d0f288;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.createBlogPage > form > .imageBox > button:hover {
  border: 3px solid transparent;
  background-color: #d0f288;
  color: #004225;
}

.createBlogPage > form > button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.5rem;
  font-size: 1.4rem;
  font-weight: bold;
  width: 80%;
  border-radius: 10px;
  border: 3px solid #ed5ab3;
  background-color: transparent;
  color: #ed5ab3;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  margin-top: 3rem;
}

.createBlogPage > form > button:hover {
  border: 3px solid transparent;
  background-color: #ed5ab3;
  color: #191421;
}

.createBlogPage > form > .category {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.createBlogPage > form > .category > label {
  font-size: 2rem;
  font-weight: bold;
  color: #ed5ab3;
}

.createBlogPage > form > .category > .categoryArea {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.createBlogPage > form > .category > .categoryArea > .typeOptions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #ed5ab3;
  padding: 0.6rem 1rem;
  border: none;
  color: #191421;
  border-radius: 10px;
}

.createBlogPage
  > form
  > .category
  > .categoryArea
  > .typeOptions
  > input[type="radio"] {
  transform: scale(1.5);
  color: #191421;
}

.createBlogPage > form > .category > .categoryArea > .typeOptions > span {
  font-size: 1.3rem;
  color: #191421;
  font-weight: bold;
}

@media (max-width: 1000px) {
  .createBlogPage {
    gap: 2rem;
    padding-top: 2rem;
    padding-left: 1.2rem;
    padding-right: 1.3rem;
  }

  .createBlogPage > h1 {
    font-size: 2rem;
  }

  .createBlogPage > form {
    gap: 0.55rem;
  }

  .createBlogPage > form > input {
    font-size: 0.75rem;
    padding: 0.5rem 0.8rem;
    border: 1px solid #ed5ab3;
    width: 70%;
  }

  .createBlogPage > form > .imageBox {
    width: 70%;
    gap: 0.7rem;
  }

  .createBlogPage > form > .imageBox > input {
    font-size: 0.55rem;
    padding: 0.5rem 0.8rem;
    border: 1px solid #ed5ab3;
    width: 50%;
  }

  .createBlogPage > form > .imageBox > button {
    padding: 0.7rem 1rem;
    font-size: 0.6rem;
    width: 20%;
    border: 2px solid #d0f288;
  }

  .createBlogPage > form > button {
    padding: 0.7rem 1.1rem;
    font-size: 1rem;
    width: 65%;
    border: 1.5px solid #ed5ab3;
    margin-top: 1.5rem;
  }

  .createBlogPage > form > .category {
    gap: 1rem;
  }

  .createBlogPage > form > .category > label {
    font-size: 1rem;
    margin-top: 1rem;
  }

  .createBlogPage > form > .category > .categoryArea {
    gap: 0.8rem;
  }

  .createBlogPage > form > .category > .categoryArea > .typeOptions {
    gap: 0.5rem;
    padding: 0.6rem 1rem;
  }

  .createBlogPage
    > form
    > .category
    > .categoryArea
    > .typeOptions
    > input[type="radio"] {
    transform: scale(1.1);
    color: #191421;
  }

  .createBlogPage > form > .category > .categoryArea > .typeOptions > span {
    font-size: 0.7rem;
  }
}
