.authorCard{
    width: 20rem;
    height: 30rem;
    background: rgba(255, 255, 255, 0.05);
    margin: 2rem;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
    padding: 0rem 0rem 0.5rem 0;
    border-radius: 10px;
    border: 3px solid #ED5AB3;
    overflow: hidden;
    transition: 0.2s ease-in-out;
    color: white;
}

.authorCard:hover{
    transform: scale(1.03);
    border: none;
}

.authorCard > .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    transition: 0.5s;
}

.authorCard:hover .content{
    opacity: 1;
}


.authorCard > .content > .imgBx{
    width: 12rem;
    height: 12rem;
    overflow: hidden;
    border: 10px solid rgba(0, 0, 0, 0.25);
}


.authorCard > .content > .imgBx > img{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.authorCard > .content > .contentBox{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
    overflow-x: hidden;
}

.authorCard > .content > .contentBox > h3{
    color: #fff;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin: 20px 0 5px;
    line-height: 1.1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.authorCard >.content >.contentBox > p{
    color: #fff;
    letter-spacing: 0.25px;
    font-weight: 300;
    font-size: 1.15rem;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1rem;

    display: flex;
    align-items: center;
}

.authorCard > .button{
    position: static;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
}


.authorCard > .button > button{
    transform: translateY(2.7rem);
    opacity: 0;
    transition: 0.4s;

    width: fit-content;
    padding: 0.8rem 1.4rem;
    color: black;
    background-color: #ED5AB3;
    font-weight: bold;
    font-size: 0.9rem;
    border: none;
    border-radius: 10px;

    cursor: pointer;
}

.authorCard:hover > .button > button{
    transform: translateY(-1rem);
    opacity: 1;
}


@media (max-width: 1000px) {

    .authorCard{
        gap: 0.35rem;
    }

    .authorCard > .content > .contentBox > h3{
        font-size: 1.5rem;
    }
    
    .authorCard >.content >.contentBox > p{
        font-size: 0.9rem;
    }

    .authorCard > .content > .contentBox{
        gap: 0.25rem;
    }
}