@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap');

.routes{
    color: white;
    margin-top: 1.3px;
}

.main-container{
    display: flex;
}

main{
    padding-left: 0.5rem;
}

.top_section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0.6rem;
    color: white;
}

h1.logo{
    font-size: 2.7rem;
    line-height: 0;
    cursor: pointer;
    font-family: 'Lobster Two', sans-serif;
    white-space: nowrap;
    color: white;
}

.bars{
    color: white;
}

.searchSection{
    display: flex;
    align-items: center;
    padding: 1.25rem 0.625rem;
    margin: 2rem 0;
    height: 3.125rem;
    color: white;
}

.searchSection > input{
    font-size: 1rem;
    font-weight: bold;
    padding: 0.813rem 1.125rem;
    margin-left: 0.938rem;
    border: none;
    border-radius: 0.625rem;
    background-color: rgb(238, 238, 238);
}

.navOptions{
    display: flex;
    align-items: center;
    color: white;
    gap: 1.25rem;
    height: 4.375rem;
    padding: 0.5rem 0.938rem;
    border-right: 0.5rem solid transparent;
}

.navOptions:hover{
    border-right: 0.5rem solid white;
    transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    background: rgb(45, 51, 89);
}

.active{
    border-right: 0.5rem solid white;
    background: rgb(45, 51, 89);
}

.navOptions>.link_text{
    font-size: 1.875rem;
}

.link_text{
    white-space: nowrap;
}



